{% layout "layout.liquid" %}
{% block content %}
    <div>
        <h3>My stocks</h3>
        <div class="contiainer-md ">
            {% for stock in stocks %}
            <div  class="card" class="card mx-auto" style="width: 50%;">
                <h4 class="card-header">{{ stock.name }}</h4>
                <div class="card-body">
                    <h5 class="card-title">Ticker: {{ stock.ticker }}</h5>
                    <!-- <h5 class="card-title">Price: {{ stock.price }}</h5> -->
                    <a class="btn btn-primary" href="/stock/{{ stock.ticker }}" method="GET">Stock Info</a>
                    <div class="col-md-6 ">
                        <form action="/comment/{{ stock.id }}" method="POST">
                            <fieldset>
                                <label class="form-label">Subject:</label>
                                <input type="text" name="subject" class="form-control" placeholder="Subject" required>
                                <label class="form-label">Add note: </label>
                                <input type="text" class="form-control" name="note" placeholder="enter note" required>
                            </fieldset>
                            <input type="submit" class="btn btn-success" value="Add Notes">
                        </form>
                        <form action="/stock/{{ stock.id }}?_method=DELETE" method="POST">
                            <input type="submit" value="delete favorite" class="btn btn-danger" id="deletebtn">
                        </form>
                    </div>
            
                    <div class="container-sm justify-content-center">
                        <div class="col-md-8 col-lg-6">
                            <!-- here we need to loop over the comments -->
                            <!-- for every comment render a comment.liquid block -->
                            {% for comment in stock.comments %}
                                {% render '../comment.liquid', comment: comment, userId: userId, stockResponse: ResponseData %}
                            {% endfor %}
                        </div>
                    </div>  
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}